@import 'tailwindcss';

@source "../../node_modules/@heroui/react/dist/**/*.{js,ts,jsx,tsx}";

@config "../../tailwind.config.ts";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    @apply overflow-x-hidden;
  }
}

:root {
  --background: #fff;
  --foreground: #121212;
  --primary: #fff;
  --secondary: #5502a6;
  --focus: #00bcd4;

  /*Colores relevantes pero no muy usados*/
  --grey-background: #272727;
}

.dark {
  --background: #121212;
  --foreground: #fff;
  --primary: #121212;
  --secondary: #bb86fc;
  --focus: #03dac5;
}

html,
body {
  font-family: 'League Spartan Variable', sans-serif;
  height: 100%;
}

/* Remove arrows from number inputs */
/* Para Chrome, Safari, Edge y Opera */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
.no-arrows {
  -moz-appearance: textfield;
}

input[type='date']::-webkit-calendar-picker-indicator {
  appearance: none;
  -webkit-appearance: none;

  width: 12px;
  height: 12px;
  cursor: pointer;

  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10 h18"/><path d="M8 14h.01"/><path d="M12 14h.01"/><path d="M16 14h.01"/><path d="M8 18h.01"/><path d="M12 18h.01"/><path d="M16 18h.01"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10 h18"/><path d="M8 14h.01"/><path d="M12 14h.01"/><path d="M16 14h.01"/><path d="M8 18h.01"/><path d="M12 18h.01"/><path d="M16 18h.01"/></svg>');

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: contain;
  mask-size: contain;

  background-color: currentColor;
  opacity: 0.6;
}

/* Quita posibles iconos auxiliares que algunos temas invierten */
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-clear-button {
  display: none;
}
